.movies-list {
  list-style: none;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-template-rows: 285px 285px 285px; 
  justify-content: center;
  align-items: center;
  &__item{
    justify-self: center;
    &--image{
      width: 171px;
      height: 255px;
    }
  }
}
